head
    include headFrag

body

    p
    textarea#edit1( rows="10").
        You will learn how to make a website. We offer  tutorials in  web app technologies.

    p
    hr 
    p
    
    pop-custel
    
