div
    spin-custel

script.

    depp.define({'spin1-custel':'/custel/spin-custel.js'})

    depp.require(['spin1-custel', 'jquery', 'DOM'], function() {

        console.log('hi')

        $( ".ha" ).click(function(){
            console.log(1)
            disE('spin-stop')
        })

        $( '.ha1').click(function(){
            console.log(2)
            disE('spin-start')
        })

        $( document ).click(function(e) {
            console.log(e)
        })

    })//depp

