
@import 'normalize';

.spin-modal {
    d0isplay: none; /* none or block */
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    pointer-events: none;
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

.spin-modal-con{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%; 
}

.spinner {

  border:     4px solid white;
  border-top: 4px solid black;
  border-radius: 50%;
  width:  30px;
  height: 30px;
  animation: spin .8s linear infinite;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}