head
   include headFrag

body

   p in pg
   
   c-custel#c1
      p Slot In

   script.
      toolBeltDefault() 

   script(src='/custel/c-custel.js')

   script.
      // send message to comp
      let c1 = document.getElementById('c1')
      c1.setAttribute('bla', 2) // call to the comp's property
      
      // example receive messages from comp
      depp.require(['eventBus'], function() {
         DeventBus.addListener('c-custel-x', function(evt) {
            console.log('**pg received message**', evt)

            let c = document.getElementById('c1')
            c.setViewModel(null)
         })
      })


      console.log('pg')

