doctype html
html
  head
      include headFrag
      script(src='//cdn.jsdelivr.net/npm/riot@3.13.2/riot.min.js')

  body

      //- DO NOT RELEASE with local version.      
      p oh hi
      .container
         .columns
            .column.col-10.col-mx-auto.pt-2
               contactus-comp(
                     emailjs_id="user_Ml0VMHTbgatOE8QpYmnmb"
                     template_id="info" 
                     service_id="gmail"
                     legend_title="For inquiries, please use the below submission form:")


      script.

         depp.define({'contactus-comp2':'/custel/contactus/riot/contactus-comp.js'})

         // put here since, it's removed from toolbelt.js
         function mountComp(compName) {
            return new Promise(function (resolve, reject) {
                  depp.require(compName, function () { // load comp
                     riot.mount(compName)
                     console.log('ENV', window.ENV, compName )
                     resolve()
                  })
            })//pro
         }

         mountComp('contactus-comp2') 

