head
   include headFrag
   //include ops
   

body
   p#one oh hi
   p #{ENV}

   script(src='BaseViewModel.js')

   script.
      mbToolBeltDefault()
      let vm = new BaseViewModel()
      vm.testE1()
 