contactus-comp
   form#mailFrm.form-comp.grid-form
      fieldset
         legend {this.opts.legend_title}
         div(data-row-span='2')
            div(data-field-span='1')
               label Name
               input#name(type='text', name='name')
            div(data-field-span='1')
               label E-mail
               input#email(type='email', name='email')
         div(data-row-span='1')
            div(data-field-span='1')
               label Message
               textarea(name='msg', type='' )
      button#sendBut.btn.btn-primary.float-right.mt-2 Send Message

   script.
      loadVexAlertFlat() // request load of wox (1 of 2)

      // define dependencies inside the comp
      if(!depp.isDefined('contactus-comp_')) depp.define({ 'contactus-comp_': [ 
         '#disableAutoFill',  // has jq
         '#emailjs',
         '#validate',
         '#loadedVexAlertFlat' // wait on load to finish for wox (2 of 2): due to setting css
         ]
      })
      depp.require('contactus-comp_')// start loading asap

      this.on('mount', function(){
         depp.require('contactus-comp_', function(){ // after it is loaded
            onMount()
         })
      })
      
      var _this = this

      function onMount() {
         console.log('mount!!')
         var emailjs_id = _this.opts.emailjs_id
         var template_id = _this.opts.template_id
         var service_id = _this.opts.service_id
         var reply_to = _this.opts.reply_to
         var from_name = _this.opts.from_name
         var to_name = _this.opts.to_name
         var from_email = _this.opts.from_email
         var message_html = _this.opts.message_html

         emailjs.init(emailjs_id);
         $('#mailFrm').disableAutoFill()

         $('#mailFrm').on('submit', function(e) {
            e.preventDefault(); 
            console.log('klik')
            var msg = val()

            if(msg==='OK') {
                  //- console.info('send')
                  var template = {
                        reply_to: reply_to,
                        from_name: typeof from_name !=='undefined' ? from_name : $('#name').val(),
                        to_name: typeof to_name !=='undefined' ? to_name : '',
                        from_email: typeof from_email !=='undefined' ? from_email: $('#email').val(),
                        message_html: typeof message_html !=='undefined' ? message_html: $("textarea[name='msg']").val(),
                  }
                  //- console.info(template)
                  emailjs.send(service_id, template_id, template )
                     .then(function(response) {
                        vex.dialog.confirm({ message: 'Your message has been sent', callback: function(){} })//vexAlert
                        
                        $("#name, #email, textarea[name='msg']").val('')

                        console.log('SUCCESS!', response.status, response.text);
                     }, function(error) {
                        vex.dialog.confirm({ message: 'Something went wrong', callback: function(){} })//vexAlert
                        $("#name, #email, textarea[name='msg']").val('')
                        console.log('FAILED...', error)
                     })

                  
            } else {
               console.info('wrong', msg)
                  vex.dialog.confirm({ message: msg, callback: function(){} })//vexAlert
            }
         })
      }
   
      function val() {
         console.log('val')
         var form = $('#mailFrm');

         var name = form.find('#name').attr('name');
         var email = form.find('#email').attr('name');

         var constraints = {};
         constraints[name] = {
            presence: true
         };
         constraints[email] = {
            presence: true,
            email: true
         };
         constraints['msg'] = {
            presence: true
         };

         var errors = validate(form, constraints, {format: "flat"});
         
         if(errors){
            return errors;
         } else {
            return 'OK';
         }

      }

